<a href="{{ projectURL }}" class="card">
  <div class="image">
    <img src="{{ imageURL }}" />
  </div>
  <div class="content">
    <div class="description">
      <h1 class="mat-headline-3 header">{{ title }}</h1>
      <p class="mat-body-1 body">{{ description }}</p>
    </div>
    <div class="tech">
      <!-- <p class="mat-headline-6 tech-header">TECHNOLOGIES:</p> -->
      <div class="tech-body">
        <img *ngFor="let tech of techList" src="assets/TechSVGs/{{ tech }}.svg" alt="{{ tech }}" />
      </div>
    </div>
  </div>
</a>
