@use "@angular/material" as mat;

$my-palette: mat.define-palette(mat.$light-blue-palette);

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 344px;
}

.card-content {
  padding: 35px;
  display: flex;
}

.card {
  display: flex;
  background: rgb(17, 18, 22);
  color: white;
  text-decoration: none;
  border-radius: 15px;
  height: 320px;
}

.card:hover {
  transition: transform 0.2s linear;
  border: 3px solid mat.get-color-from-palette($my-palette, 900);
  box-shadow: mat.get-color-from-palette($my-palette, 900) 0px 0px 10px 0px;
  transform: scale(1.01);
}

.image {
  aspect-ratio: 1;
  width: 250px;
  height: 250px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 3px solid mat.get-color-from-palette($my-palette, 500);
    box-shadow: mat.get-color-from-palette($my-palette, 500) 2px 2px 10px -2px;
  }
}

.content {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .header {
    margin: 0px 0px 20px 0px;
  }
  .body {
    color: rgb(200, 200, 200);
  }
  .tech-header {
    color: rgb(160, 160, 160);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0px;
  }
  .tech-body {
    display: flex;
    flex-wrap: wrap;
    img {
      height: 48px;
      margin: 4px;
    }
  }
}

@media screen and (max-width: 600px) {
  .card-container {
    width: 90vw;
    height: fit-content;
    margin: 0px 0px 20px 0px;
  }

  .card {
    height: fit-content;
  }

  .card-content {
    flex-direction: column;
    flex-wrap: wrap;
    height: fit-content;
  }

  .image {
    width: 100%;
    height: 100%;
  }

  .content {
    margin: 20px 0px 0px 0px;
    padding: 0px;
  }
}
