<app-game-of-life-canvas
  [updateInterval]="backgroundCanvasUpdateInteval"
  [gridWidth]="backgroundCanvasGridWidth"
  [gridHeight]="backgroundCanvasGridHeight"
  [canvasWidth]="backgroundCanvasWidth"
  [canvasHeight]="backgroundCanvasHeight"
  [initialState]="backgroundCanvasInitialState"
  [reinitOnWindowResize]="!(isHandset$ | async)"
></app-game-of-life-canvas>
<div class="banner"></div>

<div class="content">
  <div class="about-me-section">
    <h1 class="mat-headline-2">About Me</h1>
    <p class="mat-body-1" style="line-height: 1.5">
      Hi, I'm Gabriel Olivotto, a software engineering undergraduate student at Western University. I am passionate about coding and are particularly interested in GPU graphics/compute programming,
      AI, and Machine Learning. I am dedicated to honing my skills and learning new things!
    </p>
  </div>
  <div class="projects-section">
    <h1 class="mat-headline-2">Projects</h1>
    <div class="project-list">
      <app-project-card
        *ngFor="let project of projects"
        [title]="project.title"
        [description]="project.description"
        [imageURL]="project.imageURL"
        [techList]="project.techList"
        [projectURL]="project.url"
      ></app-project-card>
    </div>
  </div>
</div>

<app-footer></app-footer>
